package testhaschildren

templ list() {
	if ok := templ.HasChildren(ctx); ok {
		<ul>
			{ children... }
		</ul>
	} else {
		<p>{ "No children" }</p>
	}
}

templ render(names []string) {
	<div>
		@list() {
			for _, n := range names {
				<li>{ n }</li>
			}
		}
	</div>
	<div>
		@list()
	</div>
}
