package testhaschildren

import "context"

templ list() {
	if ok, _ := templ.HasChildren(context.Background()); ok {
		<ul>
			{ children... }
		</ul>
	} else {
		<p>{ "No children" }</p>
	}
}

templ render(names []string) {
	<div>
		@list() {
			<p>{ "Children" }</p>
		}
	</div>
	<div>
		@list()
	</div>
}
